:root{
  --color1: #416CA6;
  --color2: #1C2F40;
  --color3: #BFAA3F;
  --color4: #A68524; 
  --color5: #BFAE99; 
}
*{
  margin: 0;
  border: 0;
  padding: 0;
}

p{
  color: var(--color5);
  line-height: 2em;
  text-indent: 3em;
  text-align: justify;
}
.para-article{
  display: block;
  padding: 10px 150px;
}

.img-index{
  height: 500px;
  width: 850px;
}
.index-article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color2);
  margin: 30px 50px 0px 50px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.699);
}
.title-treiler{
  display: flex;
  background-color: #BFAA3F;
  margin: 30px 50px 0px 50px;
  padding: 25px;
  justify-content: center;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.699);
}
.treiler-sec{
  display: flex;
  background-color: #1C2F40;
  margin: 0px 50px 0px 50px;
  padding: 25px;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.699);
}
#fallout-3{
  display: flex;
  justify-content: space-around ;
}
.para-fallout{
  display: flex;
  width: 400px ;
  /* padding-top: 20px; */
  justify-content: center;
  align-items: center;
}
#fallout-nv{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
#fallout-4{
  display: flex;
  justify-content: space-around ;
  margin-bottom: 30px;
}
