:root{
  --color1: #416CA6;
  --color2: #1C2F40;
  --color3: #BFAA3F;
  --color4: #A68524; 
  --color5: #BFAE99; 
}
*{
  margin: 0;
  border: 0;
  padding: 0;
}
header{
  height: 70px;
}
main{
  padding: 20px;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 10px;
}

.image {
  overflow: hidden;
}

.image img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.image:hover img {
  transform: scale(1.1);
}
